/* Common features */

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 50px 0;
  color: darkblue;
  text-shadow: 3px 3px #A9F5F2;
}

#page-wrapper {
  height: 100vh;
  width: 100vw;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 96%);
}

/* Sections */

.prev, .next {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev > i,
.next > i {
  color: #A9F5F2;
  font-size: 30px;
}

.prev > i:hover,
.next > i:hover {
  cursor: pointer;
}

.slides {
  width: 100%;
  height: 350px;
}

.slides img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.circles {
  color: #A9F5F2;
  padding-top: 40px;
}

.circles > i {
  padding: 0 5px 0;
}

.circles > i:hover {
  cursor: pointer;
}

button.btn.btn-light {
  margin-top: 30px;
  background-color: #CEF6F5;
  color: darkblue;
}
